@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f2f7;
  color: #1c1c1e;
  -webkit-font-smoothing: antialiased;
}

/* Membuat scrollbar tersembunyi tapi tetap bisa digeser (agar rapi seperti aplikasi HP) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
